<div class="row">
	<div class="col-md-12">
		<h1> Personal Page</h1><br>
		<p><strong>Name: </strong> Add to user table, must have full name to create a user </p>
		<p><strong>Photo: </strong> <%= gravatar_for @user %> </p> <small> <a href="https:en.gravatar.com"> Get your gravatar! </a></small>
		<p><strong>Nickname: </strong> <%= @user.username %> </p>
		<p><strong>Email: </strong> <%= @user.email %> </p>
		<p><strong>Team: Coming soon...</strong> </p>
		<p><strong>Bio: </strong> <%= @profile.description %></p> 
		<%= link_to 'Edit', edit_profile_path(@profile) %></td>
	</div>
</div>
