<% if task.open_task? %>
  <tr>
    <td> <%= task.id %> </td>
    <td> <%= task.title %></td>
    <td> <%= task.assigned_by %></td>
    <td> <%= task.due_date.strftime("%d %b %y") %> </td>
    <td><%= link_to 'Show', task, class: "btn btn-sm btn-primary" %></td>
    <td> <%= link_to 'Complete', complete_task_path(task), class: "btn btn-sm btn-success" %>
    </td>
    <td> <%= link_to 'Edit', edit_task_path(task), class: 'btn btn-sm btn-primary' %></td>
    <td> <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, remote: true,class: 'btn btn-sm btn-danger delete-task' %></td>
  </tr>
<% else %>
   <tr id = "tr_<%= task.id %>">
      <td> <%= task.id %> </td>
      <td> <%= task.title %></td>
      <td> <%= task.assigned_by %></td>
      <td> <%= task.due_date.strftime("%d %b %y") %> </td>
      <td> <%= link_to "Open", task_path(task, task: { open_task: true }), method: :put, remote: true,
      class: "btn btn-sm btn-primary" %>
      </td>
      <td> <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-sm btn-danger delete-task" %>
      </td>
  </tr>
<% end %>