<div class="row">
	<div class= "col-md-12">
		<h1> Task: <%= @task.title %> </h1>
		<br>

		<%= simple_form_for(@task) do |f| %>
		    <%= f.error_notification %>
		    <div class = "col-md-4"> <%= f.input :hours_to_complete %> </div>
		    <div class= "col-md-2 complete"><%= f.button :submit, "Complete task", class: 'btn btn-success' %></div>
		<% end %>
	</div>
</div>